@import '../../abstract/varsAndClasses';

.main {
    min-height: 100vh;
}

.banner-container {
    padding: 5rem 0 2rem 0;
    display: grid;
    column-gap: 0.5rem;
    justify-content: center;

    h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        grid-column: 1/-1;
        color: $text-color-primary;
    }
    
    .banner {
        grid-row: 2/3;
        opacity: 0.6;
        height: 170px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}