@import '../../abstract/varsAndClasses';

.games {
    padding: 1rem 9vw;
}

.options {
    display: flex;
    border: none;
    div {
        flex-basis: 100%;
        display: grid;
        gap: 4px 4px;
        grid-template-columns: auto 1fr;
        grid-template-rows: 25px auto;
        position: relative;
        align-items: start;
    }
    &__legend {
        color: $text-color-secondary;
        font-size: 1.2rem;
    }
    &__drop-btn {
        cursor: pointer;
        font-size: 1.2rem;
        justify-self: start;
        color: $text-color-primary;
        &:hover {
            color: white;
        }
        i {
            margin-left: 8px;
        }
    }
    .dropdown-menu {
        background-color: $color-secondary;
        border-radius: 4px;
        padding: 4px 0;
        list-style: none;
        text-align: center;
        grid-row: 2/3;
        grid-column: 2/3;
        position: absolute;
        z-index: 5;
        min-height: auto;
        max-height: 145px;
        width: 200px;
        overflow-y: auto;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        background-color: $text-color-primary;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $text-color-secondary;
        height: 20px;
    }
    
    li {
        padding: 5px 0;
        &:hover {
            background-color: $color-primary;
        }
    }
    .dropdown-menu__btn {
        display: block;
        color: $text-color-primary;
        text-decoration: none;
        font-size: 1.2rem;
        &:hover {
            color: white;
        }
        i {
            margin-right: 6px;
        }
    }
    .dropdown-menu__h {
        font-size: 1.1rem;
        color: $text-color-secondary;
    }

    &__drop-btn,
    .dropdown-menu__btn {
        background: none;
        border: none;
    }
}

hr {
    border: 0;
    border-bottom: 1px solid $text-color-secondary;
    opacity: 0.15;
    margin: 25px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0.5rem;
    row-gap: 1.25rem;
}
.card {
    flex-basis: calc(33.33% - 0.5rem);
    max-width: calc(33.33% - 0.5rem);
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    overflow: hidden;
    height: 300px;
    border-radius: 6px;
    background-color: $color-secondary;
    transition: transform 0.3s;
    &:hover {
        transform: translateY(-2%);
        z-index: 1;
        .card__img {
            opacity: 0.8;
        }
    }
    
    &__img-wrapper {
        .card__img {
            height: 150px;
            width: 100%;
            
        }
    }
    &__body {
        display: grid;
        padding: 1.5rem 1.2rem 1.2rem 1.2rem;
    }
    &__game-title {
        color: $text-color-primary;
        font-size: 1.5rem;
        text-decoration: none;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
    &__desc {
        color: $text-color-secondary;
        font-size: 1.25rem;
        white-space: nowrap;
    }
    &__icons {
        align-self: end;
        justify-self: end;
        color: $text-color-primary;
        .card__genre {
            background-color: $text-color-primary;
            color: $color-primary;
            font-size: 0.93rem;
            font-weight: bold;
            border-radius: 4px;
            padding: 0 4px;
            margin-right: 5px;
        }
    }
}
