.slide-right {
  left: 54% !important;
}

.hidden {
  display: none !important;
}

body {
  background: #1B2838;
}

.content {
  min-height: 100vh;
  font-family: "Karla", sans-serif;
}

.header {
  background: #1F3445;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 55px;
}
@media (min-width: 0) {
  .header {
    padding: 1rem 7vw;
  }
}
@media (min-width: 1378px) {
  .header {
    padding: 1rem 12vw;
  }
}
@media (min-width: 1850px) {
  .header {
    padding: 1rem 22vw;
  }
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
  color: #c7d5e0;
}
.header .logo__icon {
  height: 36px;
  width: 36px;
}
.header .theme-btn {
  background: rgb(214, 214, 214);
  border: none;
  cursor: pointer;
  border-radius: 14px;
  position: relative;
  height: 16px;
  width: 40px;
}
.header .theme-btn__icon {
  display: block;
  position: absolute;
  left: -9%;
  transition: all 0.25s;
}

.slide-right {
  left: 54% !important;
}

.hidden {
  display: none !important;
}

.main {
  min-height: 100vh;
}

.banner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
  row-gap: 1rem;
  padding: 5rem 10px;
}
.banner__title {
  grid-row: 1/2;
  grid-column: 1/-1;
  font-size: 2rem;
  color: #c7d5e0;
  white-space: nowrap;
  text-align: center;
}
.banner__carousel-arrow {
  background-color: rgba(122, 130, 136, 0.2);
  cursor: pointer;
}
.banner__carousel-arrow i {
  color: #c7d5e0;
}
.banner #carousel-left {
  justify-self: end;
  padding: 14px 0 14px 5px;
}
.banner #carousel-right {
  justify-self: start;
  padding: 14px 5px 14px 0;
}
.banner__game {
  opacity: 0.6;
  position: relative;
  height: 300px;
  width: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner__game-info {
  background-color: #1F3445;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px 4px 4px 4px;
  height: 100px;
  width: 250px;
}
.banner__game-info h4 {
  text-align: center;
}
.banner__game-info a {
  display: block;
  text-decoration: none;
  text-align: center;
}
.banner__game:nth-of-type(1) {
  background-image: url(../../images/banner-images/banner-image-1.jpg);
}

.slide-right {
  left: 54% !important;
}

.hidden {
  display: none !important;
}

@media (min-width: 0) {
  .games {
    padding: 1rem 7vw;
  }
}
@media (min-width: 1378px) {
  .games {
    padding: 1rem 12vw;
  }
}
@media (min-width: 1850px) {
  .games {
    padding: 1rem 20vw;
  }
}

.options {
  display: flex;
  border: none;
}
@media (min-width: 0) {
  .options {
    flex-direction: column;
    row-gap: 0.6rem;
  }
}
@media (min-width: 768px) {
  .options {
    flex-direction: row;
    -moz-column-gap: 0.75rem;
         column-gap: 0.75rem;
  }
}
@media (min-width: 1024px) {
  .options {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
.options div {
  display: grid;
  gap: 4px 4px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 25px auto;
  position: relative;
  align-items: start;
  white-space: nowrap;
}
.options__legend {
  color: #7a8288;
  font-size: 1.2rem;
}
.options__drop-btn {
  cursor: pointer;
  font-size: 1.2rem;
  justify-self: start;
  color: #c7d5e0;
}
.options__drop-btn:hover {
  color: white;
}
.options__drop-btn i {
  margin-left: 8px;
}
.options .dropdown-menu {
  background-color: #1F3445;
  border-radius: 4px;
  padding: 4px 0;
  list-style: none;
  text-align: center;
  grid-row: 2/3;
  position: absolute;
  z-index: 5;
  min-height: auto;
  max-height: 190px;
  width: 200px;
  overflow-y: auto;
}
@media (min-width: 0) {
  .options .dropdown-menu {
    grid-column: 1/-1;
  }
}
@media (min-width: 1024px) {
  .options .dropdown-menu {
    grid-column: 2/3;
  }
}
.options ::-webkit-scrollbar {
  width: 12px;
}
.options ::-webkit-scrollbar-track {
  background-color: #c7d5e0;
}
.options ::-webkit-scrollbar-thumb {
  background-color: #7a8288;
  height: 20px;
}
.options li {
  padding: 5px 0;
}
.options li:hover {
  background-color: #1B2838;
}
.options .dropdown-menu__btn {
  display: block;
  color: #c7d5e0;
  text-decoration: none;
  font-size: 1.2rem;
}
.options .dropdown-menu__btn:hover {
  color: white;
}
.options .dropdown-menu__btn i {
  margin-right: 6px;
}
.options .dropdown-menu__h {
  font-size: 1.3rem;
  color: #7a8288;
}
.options__drop-btn,
.options .dropdown-menu__btn {
  background: none;
  border: none;
}

hr {
  border: 0;
  border-bottom: 1px solid #7a8288;
  opacity: 0.15;
  margin: 25px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1.4rem;
       column-gap: 1.4rem;
  row-gap: 1.6rem;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 300px;
  border-radius: 6px;
  background-color: #1F3445;
  transition: transform 0.25s, box-shadow 0.25s;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.card:hover .card__img {
  opacity: 0.8;
}
@media (min-width: 0px) {
  .card {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 525px) {
  .card {
    flex-basis: calc(50% - 0.7rem);
    max-width: calc(50% - 0.7rem);
  }
}
@media (min-width: 1024px) {
  .card {
    flex-basis: calc(33.33% - 0.9333333333rem);
    max-width: calc(33.33% - 0.9333333333rem);
  }
}
@media (min-width: 1378px) {
  .card {
    flex-basis: calc(25% - 1.05rem);
    max-width: calc(25% - 1.05rem);
  }
}
.card__img-wrapper .card__img {
  height: 150px;
  width: 100%;
}
.card__body {
  display: grid;
  height: 100%;
  padding: 1.5rem 1.2rem 1.2rem 1.2rem;
}
.card__game-title {
  color: #c7d5e0;
  text-decoration: none;
}
.card__game-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@media (min-width: 0) {
  .card__game-title {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .card__game-title {
    font-size: 1.5rem;
  }
}
.card__desc {
  color: #7a8288;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 0) {
  .card__desc {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .card__desc {
    font-size: 1.2rem;
  }
}
.card__icons {
  align-self: end;
  justify-self: end;
  color: #c7d5e0;
}
.card__icons .card__genre {
  background-color: #c7d5e0;
  color: #1B2838;
  font-size: 0.93rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 0 4px;
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */