.slide-right {
  left: 54% !important;
}

.hidden {
  display: none !important;
}

body {
  background: #1B2838;
}

.content {
  min-height: 100vh;
  font-family: "Karla", sans-serif;
}

.header {
  background: #1F3445;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 9vw;
  height: 55px;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
  color: #c7d5e0;
}
.header .logo__icon {
  height: 36px;
  width: 36px;
}
.header .theme-btn {
  background: rgb(214, 214, 214);
  border: none;
  cursor: pointer;
  border-radius: 14px;
  position: relative;
  height: 16px;
  width: 40px;
}
.header .theme-btn__icon {
  display: block;
  position: absolute;
  left: -9%;
  transition: all 0.25s;
}

.slide-right {
  left: 54% !important;
}

.hidden {
  display: none !important;
}

.main {
  min-height: 100vh;
}

.banner-container {
  padding: 1.5rem 0;
  display: grid;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  justify-content: center;
  grid-template-columns: repeat(3, 325px);
  grid-template-rows: auto 1fr;
}
.banner-container h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  grid-column: 1/-1;
  color: #c7d5e0;
}
.banner-container .banner {
  grid-row: 2/3;
  opacity: 0.6;
  height: 225px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-container .banner:nth-of-type(1) {
  background-image: url(../../images/banner-images/banner-image-1.jpg);
}
.banner-container .banner:nth-of-type(2) {
  background-image: url(../../images/banner-images/banner-image-2.jpg);
}
.banner-container .banner:nth-of-type(3) {
  background-image: url(../../images/banner-images/banner-image-3.jpg);
}

.slide-right {
  left: 54% !important;
}

.hidden {
  display: none !important;
}

.games {
  padding: 1rem 9vw;
}

.options {
  display: flex;
  border: none;
}
.options div {
  flex-basis: 100%;
  display: grid;
  gap: 4px 4px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 25px auto;
  position: relative;
  align-items: start;
}
.options__legend {
  color: #7a8288;
  font-size: 1.2rem;
}
.options__drop-btn {
  cursor: pointer;
  font-size: 1.2rem;
  justify-self: start;
  color: #c7d5e0;
}
.options__drop-btn:hover {
  color: white;
}
.options__drop-btn i {
  margin-left: 8px;
}
.options .dropdown-menu {
  background-color: #1F3445;
  border-radius: 4px;
  padding: 4px 0;
  list-style: none;
  text-align: center;
  grid-row: 2/3;
  grid-column: 2/3;
  position: absolute;
  z-index: 1;
  min-height: auto;
  max-height: 145px;
  width: 200px;
  overflow-y: auto;
}
.options ::-webkit-scrollbar {
  width: 12px;
}
.options ::-webkit-scrollbar-track {
  background-color: #c7d5e0;
}
.options ::-webkit-scrollbar-thumb {
  background-color: #7a8288;
  height: 20px;
}
.options li {
  padding: 5px 0;
}
.options li:hover {
  background-color: #1B2838;
}
.options .dropdown-menu__btn {
  display: block;
  color: #c7d5e0;
  text-decoration: none;
  font-size: 1.2rem;
}
.options .dropdown-menu__btn:hover {
  color: white;
}
.options .dropdown-menu__btn i {
  margin-right: 6px;
}
.options .dropdown-menu__h {
  font-size: 1.1rem;
  color: #7a8288;
}
.options__drop-btn,
.options .dropdown-menu__btn {
  background: none;
  border: none;
}

hr {
  border: 0;
  border-bottom: 1px solid #7a8288;
  opacity: 0.15;
  margin: 25px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 1.25rem;
}

.card {
  flex-basis: calc(33% - 0.5rem);
  background-color: #1F3445;
  border-radius: 6px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 300px;
}
.card__img-wrapper .card__img {
  height: 150px;
  width: 100%;
}
.card__body {
  padding: 0.5rem;
}/*# sourceMappingURL=style.css.map */