@import '../abstract/varsAndClasses';
@import '../abstract/fonts';

body {
    background: $color-primary;
}

.content {
    min-height: 100vh;
    position: relative;
    font-family: $principal-font;
}

.header {
    background: $color-secondary;
    border-bottom: 1px solid rgb(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    @media(min-width: 0) {
        padding: 0 7vw;
    }
    @media(min-width: 1378px) {
        padding: 0 12vw;
    }
    @media(min-width: 1850px) {
        padding: 0 0;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        width: 100%;
        @media(min-width: 1850px) {
            margin: 0 auto;
            width: 1200px;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 2px;
        text-decoration: none;
        font-family: $logo-font;
        font-size: 1.5rem;
        color: $text-color-primary;

        &__icon {
            height: 36px;
            width: 36px;
        }
    }

    .theme-btn {
        background: rgb(214, 214, 214);
        border: none;
        cursor: pointer;
        border-radius: 14px;
        position: relative;
        height: 16px;
        width: 40px;
        
        &__icon {
            display: block;
            position: absolute;
            left: -9%;
            transition: all 0.25s;
        }
    }
}
