@import '../../abstract/varsAndClasses';

.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    @media(min-width: 0) {
        min-height: auto;
    }
    @media(min-width: 550px) {
        width: 470px;
        margin: 0 auto;
    }
    @media(min-width: 768px) {
        width: auto;
    }

    &__sticky {
        padding-bottom: 2rem;
        @media(min-width: 0) {
            position: static;
        }
        @media(min-width: 768px) {
            position: sticky;
            top: 80px;
        }
    }

    &__img {
        height: 210px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        margin-bottom: 1rem;
        @media(min-width: 0) {
            width: 100%;
        }
        @media(min-width: 768px) {
            width: 325px;
        }
    }

    &__btns-container {
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: auto auto 1fr;
        background-color: $color-secondary;
        border-radius: 4px;
        padding: 6px 8px;

        .sidebar__thumbs {
            color: $text-color-primary;
            cursor: pointer;
            margin-right: 15px;
        }
        #thb-up:hover {
            color: rgb(43, 99, 43);
        }
        #thb-down:hover {
            color: rgb(183, 61, 61);
        }


        .sidebar__game-link {
            border-radius: 4px;
            width: 100%;
            padding: 15px 0;
            font-size: 1.4rem;
            text-align: center;
            text-decoration: none;
            color: $text-color-primary;
            background-color: $color-terciary;


            &:hover {
                color: white;
            }
            i {
                margin-left: 5px;
            }
        }
    }

    .loading {
        height: 220px;
    }
}